<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:insert="~{fragment :: header}"></div><br><br>
<form th:action="@{/cars/{id}}">
    <img  th:src="@{/cars/{id}/image(id=${carDescription.id})}"  alt="No image"><br>

    <p th:text="'Brand name: ' + ${carDescription.brandName}" />
    <p th:text="'Model name: ' + ${carDescription.modelReadDto.modelName()}"/>
    <p th:text="'Car year: ' + ${carDescription.carYear}"/>
    <p th:text="'Rent price: ' + ${carDescription.rentalPrice}"/><br><br>

</form>
<form th:action="@{/rental/create-request}" th:if="${#authorization.expression('hasAuthority(''USER'')')}">
    <button type="submit">Create a car rental request</button>
</form><br>
<form th:action="@{/cars/{id}/delete(id=${carDescription.id})}" method="post" th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}">
    <button type="submit">Delete car</button>
</form><br>
<form th:action="@{/cars/available-cars}">
    <button type="submit">Back to cars list</button>
</form>
</body>
</html>